@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Message</h2>

<address>
    1852 67th Street<br />
    Brooklyn, NY 11204<br />
    <abbr title="Phone">Tel:</abbr>
    732-616-8295 <br />
    <abbr title="Phone">Fax:</abbr>
    732-383-6021
</address>

<address>
    <strong>Email:</strong>   <a href="mailto:info@bethesos.com"> info@bethesos.com</a><br />
</address>