@{
    ViewBag.Title = "Home Page";
}

<br/>

<div id="front-page-carousel" class="carousel slide" data-ride="carousel">
    <!-- Indicators -->
    <ol class="carousel-indicators">
        <li data-target="#front-page-carousel" data-slide-to="0" class="active"></li>
        <li data-target="#front-page-carousel" data-slide-to="1"></li>
        <li data-target="#front-page-carousel" data-slide-to="2"></li>
    </ol>

    <!-- Wrapper for slides -->
    <div class="carousel-inner">
        <div class="item active">
            <img src="~/Content/Images/brooklyn1.jpg" alt="Brooklyn Apartments">
        </div>
        <div class="item">
            <img src="~/Content/Images/brooklyn2.jpg" alt="Chinatown">
        </div>
        <div class="item">
            <img src="~/Content/Images/brooklyn3.jpg" alt="View of Brooklyn">
        </div>
    </div>

    <!-- Controls -->
    <a class="left carousel-control" href="#front-page-carousel" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left"></span>
    </a>
    <a class="right carousel-control" href="#front-page-carousel" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right"></span>
    </a>
</div>

<br />

<div class="row">
    <div class="col-md-4">
        <img src="~/Content/Images/Property_Mgmt.jpg" alt="Property Management" align="middle" style="max-width:100%;" />
    </div>
    <div class="col-md-8">
        <h2>About Bethesos</h2>
        <p>Bethesos is a property management company offering standardized management services for multi-family property in New York City.</p>
        <p>Daily property management tasks could be time consuming and challenging. We have over 15 years experience in tenant management and building maintenance. Our expertise in legal, finance and building help protect our client’s investment.</p>
        <p>As the real estate market is bottoming out in the US, many international investors are looking for investment opportunities. We also offer advisory service to assist our international client in visa application, property screening, valuation and acquisition.</p>
        <p>Our clients have 100% control on their property financials. Our services enable our client to increase predictability, reduce risk and maximize property value.</p>
        <p><a class="btn btn-default" href="http://bethesos.com/?q=node/3">Learn more &raquo;</a></p>
    </div>
</div>